
<div class="namematchchat mt-2 ms-1 d-flex justify-content-between">

  <% if current_user.gender == "male" %>
  <div class="mt-2 mb-2">
  <%= image_tag chatroom.female.photo, class: "avatar" %>
  <%= chatroom.female.first_name %> <%= chatroom.female.last_name %>
  </div >
  <div class="mt-4 d-flex align-items-center">
  <p>Remove this Match</p>
  <%= button_to block_male_match_path(chatroom.female), class:"remove", method: :patch do %>
    <i class='fa-solid fa-ban fa-2xl'></i>
  <% end %>
  </div>
  <% else %>
  <div class="mt-2 mb-2">
  <%= image_tag chatroom.male.photo, class: "avatar" %>
  <%= chatroom.male.first_name %> <%= chatroom.male.last_name %>
  </div >
  <div class="mt-4 d-flex align-items-center">
  <p>Remove this Match</p>
  <%= button_to block_male_match_path(chatroom.female), class:"remove", method: :patch do %>
    <i class='fa-solid fa-ban fa-2xl'></i>
  <% end %>
  </div>
  <% end %>
</div>
<div class="container chatroom d-flex flex-column"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
  data-chatroom-subscription-target="scroll">
  <div class="messages flex-grow-1" data-chatroom-subscription-target="messages">
    <div class="">
      <div class="messages mt-5">
        <% chatroom.messages.each do |message| %>
          <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
            <div id="messagebox" class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
              <%= render "layouts/messages", message: message %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    </div>

<div class= "formmessage mt-3 px-3" >
      <%= simple_form_for [chatroom, message],
        html: {data: {action: "turbo:submit-end->chatroom-subscription#resetForm"}, class: "d-flex"} do |f|
     %>
      <%= f.input :content,
        label: false,
        placeholder: "Write your message here...#{chatroom.name}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "sendmessage-button btn mb-3 ms-3" %>
    <% end %>
    </div>

</div>
