<body class="container background_matches">
  <div class="MMdashboard">
  <% if current_user.match_maker_matches.empty? %>
    <div class="No_match">
      <p>Hello <%=current_user.first_name%></p>
      <img src="https://res.cloudinary.com/dlr6yrpai/image/upload/v1662626242/MatchMe/Group_60_omggbr.png" alt="MatchMakers matching peoples">
      <p>It’s seems like you haven’t made any matches yet.</p>
      <div class="matchcenter ">
          <%= link_to new_match_path, class: "Match start-match-size btn d-flex align-items-center justify-content-center" do %>
            Start Matching
          <% end %>
      </div>
    </div>



  <% else %>
    <div><h1 id="yrmatches">Hello <%= current_user.first_name %>!</h1></div>
    <h3 id="yrmatches2">Your recent matches</h3>
    <div class="d-flex align-items-start">
      <div class="container MMLeft">
        <div class="recent_matches mt-4">
          <% current_user.match_maker_matches.each_with_index do |match, i| %>
          <!--This break is to limit the latest matches to 4, change if needed-->
          <% break if i == 4; %>
          <div class="match_display mt-3">
            <% if match.status == "match" %>
              <div class="spacing">
                <%= cl_image_tag match.male.photo.key, class: "avatar1 dropdown-toggle" %>
                <span class="cardfont ms-2"><%= match.male.first_name %></span>
              </div>
              <div class="spacing">
                <%= cl_image_tag match.female.photo.key, class: "avatar1 dropdown-toggle" %>
                <span class="cardfont ms-2"><%= match.female.first_name %></span>
              </div>
              <div id="created_at" class="spacing">
                <%= match.created_at.strftime("%d %b %Y") %>
                <%= match.created_at.strftime("%H:%M") %>
              </div>
              <% end %>
          </div>
          <% end %>
        </div>
        <div class="matchcenter ">
          <%= link_to new_match_path, class: "Match start-match-size btn d-flex align-items-center justify-content-center" do %>
            Start Matching
          <% end %>
        </div>
      </div>
      <div class="container MMRight mt-2">
        <div class="container inforight mt-3 pt-2">
          <h3 class="pt-3">Your stats:</h3>
            <p class="pt-2"><%= current_user.points %> points</p>
            <h3>Ranking:</h3>
            <% if current_user.points == nil %>
            <h3>Start matching to increase your category</h3>
            <% elsif current_user.points <= 25 %>
            <h3 id="mystats" class="pt-2">MatchMaker wannabe</h3>

            <% elsif current_user.points >= 25 %>
            <h3 id="mystats" class="pt-2">Champion Cupid</h1>
            <% end %>
            <div class="container level p-0">
              <% if current_user.points %>
                <% if current_user.points >= 100 then @level_bar = 100 %>
                <% else @level_bar = current_user.points %>
                <%end%>
                <div class="w3-light-grey">
                  <div class="w3-brown w3-round w3-center" style="height:24px;width:<%=@level_bar%>%"><%=@level_bar%>/100</div>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</body>
