<body class="My_profile">
  <div class="container Info">
    <h2>My profile</h2>
    <div class="buttons_delete">
      <%= button_to edit_user_registration_path, class:"remove" do %>
        <p>Edit your profile <i class="fas fa-edit"></i></p>
      <% end %>
      <%= button_to edit_user_registration_path, class:"remove" do %>
        <p>Remove your Account <i class="fa-solid fa-trash"></i></p>
      <% end %>
    </div>

    <div class="description_profile">
      <div class="image_profile_description">
        <%= image_tag current_user.photo %>
      </div>
      <div class="description container">
        <div id="Name_age_description" style="display: flex; align-items: baseline;"><h1>Luca Fauzia</h1><h3>, 33 <img src="https://res.cloudinary.com/dlr6yrpai/image/upload/v1662454789/MatchMe/cloudage_cc07c3.png" alt="cloud_background" class="cloud_background"></h3></div>
          <p id="geo_right"><i class="fa-solid fa-location-dot"></i> <%= current_user.geo %></p>
          <p class="gilroy_strong">About me</p>
          <p class="gilroy_light mt-3"><%= current_user.description %></p>
          <p class="gilroy_strong">My interests</p>
          <div class="d-flex flex-row ">
            <% interest_array = current_user.interest.split(";") %>
            <% interest_array.each do |i| %>
              <div>
                <p class="interests mt-3"><%= i %></p>
              </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
