<h1>My profile</h1>

<%= image_tag current_user.photo %>
<%= current_user.first_name %>
<%= current_user.last_name %>

<div class="mt-4 d-flex align-items-center">

  <%= button_to edit_user_registration_path, class:"remove" do %>
    Edit your profile <i class="fas fa-edit"></i>
  <% end %>
  <%= button_to edit_user_registration_path, class:"remove" do %>
    Remove your Account <i class="fa-solid fa-trash"></i>
  <% end %>
  </div>
