
<body class="background_select">
  <div class="select_buttons">
    <div class="sign_up_to">
      <p>Sign up to</p>
      <%= link_to root_path, class: "navbar-brand" do %>
        <img id="logo_select" src="https://res.cloudinary.com/dlr6yrpai/image/upload/v1663146305/MatchMe/Logo_match_me_ma7b57.png" alt="Matchme" draggable="false" >
      <% end %>
    </div>

    <%= link_to new_user_registration_path(query: "MatchSeeker"), class: "linkuser" do %>
    <div class="ButtonSelect btn btn_flat">
      <img id="LogoMatch" src="https://res.cloudinary.com/dlr6yrpai/image/upload/v1662039464/MatchMe/LogoMatchSeeker_rzijuc.png" />
        <div class="TextSelect">
          <p><strong>I want to be matched</strong></p>
          <p id="lower">I’m looking to get matched</p>
        </div>
        <img id="checked" src="https://res.cloudinary.com/dlr6yrpai/image/upload/v1662039463/MatchMe/Group_54_hdjsap.png">
    </div>
    <% end %>


    <%= link_to new_user_registration_path(query: "MatchMaker"), class: "linkuser" do %>
    <div class="ButtonSelect btn btn_flat">
      <img id="LogoMatch" src="https://res.cloudinary.com/dlr6yrpai/image/upload/v1662039463/MatchMe/LogoMatchMaker_ohysmq.png" />
        <div class="TextSelect">
          <p><strong>I want to be a matchmaker</strong></p>
          <p id="lower">I love helping people connect</p>
        </div>
        <img id="checked" src="https://res.cloudinary.com/dlr6yrpai/image/upload/v1662039463/MatchMe/Group_54_hdjsap.png">
    </div>
    <% end %>


    <div class="SelSI">
      <p>Already have an account?</p>
      <%= link_to "Sign in", new_user_session_path %>
    </div>

  </div>
</body>


<%# <%= link_to "MatchMaker", new_user_registration_path(query: "MatchMaker") %>
<%# <%= link_to "MatchSeeker", new_user_registration_path(query: "MatchSeeker") %>
