<body class="background_select">
  <div class="sign_up_to">
    <p>Log in</p>
      <%= link_to root_path, class: "navbar-brand" do %>
        <img id="logo_select" src="https://res.cloudinary.com/dlr6yrpai/image/upload/v1663146305/MatchMe/Logo_match_me_ma7b57.png" alt="Matchme" draggable="false" >
      <% end %>  </div>

  <div class="login">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
      <%= f.error_notification %>
    <%= render 'devise/shared/error_messages' %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="SelSI mt-5">
        <p>Don't have an account yet?</p>
        <%= link_to "Sign Up", select_path %>
      </div>

      <div class="buttoncenter">
        <div class="form-actions d-flex justify-content-center mt-3">
          <%= f.button :submit, "Log in", class: "btn_log_in mt-3" %>
        </div>
      </div>
    <% end %>


  </div>
</body>
