<body class="background_select">
  <div class="sign_up_to">
    <p>Log in</p>
      <%= link_to root_path, class: "navbar-brand" do %>
        <img id="logo_select" src="https://s3-alpha-sig.figma.com/img/44bc/019c/339b6ed80ec5b4f02d3f651fa3faaa31?Expires=1662940800&Signature=EcaDWxddmE3nXISNvWs6fRSvqLHxcYq8SbpGkCA2FUEMGacKIUG7haCWAx-eqJEG81xw5AEn9981rrUEDfgQMJ8SjUTB2yes3jNv5YbuZflXafc9Dz1DQzQFXnTzO85~BmS9Sne4ZyUCsuUBiYa9HjOD1zXsgx8yPMjVHNFnE3OZfLy30iiU24qB8ELRrZzE6BSFyiEsz07KLsCf1jusRVEO-s-hZT7tzJJy66-TOohTwmlQtsjsqsMyOSn7LtQrWYZtaeHyzC-T0v556HY-In5asExpkw6qao0R5qrYY27RHO2GzOrDu4TQmRGs33BZoHpTQiuuPgFPOyJq7DUi8w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="Matchme" draggable="false" >
      <% end %>  </div>

  <div class="login">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
      <%= f.error_notification %>
    <%= render 'devise/shared/error_messages' %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="SelSI mt-5">
        <p>Don't have an account yet?</p>
        <%= link_to "Sign Up", select_path %>
      </div>

      <div class="buttoncenter">
        <div class="form-actions d-flex justify-content-center mt-3">
          <%= f.button :submit, "Log in", class: "btn_log_in mt-3" %>
        </div>
      </div>
    <% end %>


  </div>
</body>
