<body class="container background_matches">
  <div class="container card_matches">
    <div class="person1">
      <div class="name">
        <%= @female.first_name %>
        <%= @female.last_name%>
      </div>
      <p id="geo"><i class="fa-solid fa-location-dot"></i> <%= @female.geo%></p>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <%= cl_image_tag @female.photo.key, height: 400, width: 337, crop: :fill%>
          </div>
          <div class="flip-card-back">
            <p>Age:<%= @female.age%></p><br>
            <p>Description:<br><%= @female.description %></p><br>
            <p>Interests:<br><%= @female.interest%></p>
          </div>
        </div>
      </div>

    </div>

    <div class="button_match">
        <div class="input">
          <%= simple_form_for [@match] do |f| %>
            <div>
              <%= f.input :male, selected: 1, collection: [@male.id], label: false, input_html: { autocomplete: "" ,  class: "d-none"}%>
            </div>
            <div><%= f.input :female, selected: 1, collection: [@female.id], label: false, input_html: { autocomplete: "" ,  class: "d-none"} %></div>
            <div class="confirm">
              <%= f.submit "Match Us!", class:"Match"%>
            </div>
          <% end %>
        </div>

        <%= link_to new_match_path, class: "d-flex justify-content-center" do %>
          <img id="LogoShuffel" src="https://res.cloudinary.com/dlr6yrpai/image/upload/v1662109367/MatchMe/Shuffle_white_arrow_yximqr.png" />
        <%end%>
    </div>

    <div class="person1">
      <div class="name">
        <%= @male.first_name %>
        <%= @male.last_name%>
      </div>
      <p id="geo"><i class="fa-solid fa-location-dot"></i> <%= @male.geo%></p>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <%= cl_image_tag @male.photo.key, height: 400, width: 337, crop: :fill%>
          </div>

          <div class="flip-card-back">
            <p>Age: <%= @male.age%></p><br>
            <p>Description:<br><%= @male.description %></p><br>
            <p>Interests:<br><%= @male.interest%></p>
          </div>
        </div>
      </div>
    </div>


  </div>
</body>
