<nav class="navbar fixed-top">
  <div class="container-fluid">
    <div class="nav-bar_logo">
      <%= link_to root_path do %>
      <img id="MMLogo" src="https://s3-alpha-sig.figma.com/img/44bc/019c/339b6ed80ec5b4f02d3f651fa3faaa31?Expires=1662940800&Signature=EcaDWxddmE3nXISNvWs6fRSvqLHxcYq8SbpGkCA2FUEMGacKIUG7haCWAx-eqJEG81xw5AEn9981rrUEDfgQMJ8SjUTB2yes3jNv5YbuZflXafc9Dz1DQzQFXnTzO85~BmS9Sne4ZyUCsuUBiYa9HjOD1zXsgx8yPMjVHNFnE3OZfLy30iiU24qB8ELRrZzE6BSFyiEsz07KLsCf1jusRVEO-s-hZT7tzJJy66-TOohTwmlQtsjsqsMyOSn7LtQrWYZtaeHyzC-T0v556HY-In5asExpkw6qao0R5qrYY27RHO2GzOrDu4TQmRGs33BZoHpTQiuuPgFPOyJq7DUi8w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="Matchme" draggable="false">
      <% end %>
    </div>
    <div>
      <div id="navbarSupportedContent">
        <div class="navbar-nav">
          <input type="image" class="NotificationBell" src="https://res.cloudinary.com/dlr6yrpai/image/upload/v1662632369/MatchMe/output-onlinepngtools_fun5cx.png">
          <div class="name_ava">
            <p><%= current_user.first_name %> <%= current_user.last_name %></p>
          </div>
          <div>
            <li class="nav-item">
              <% if !current_user.nil? && current_user.photo.attached? %>
              <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Notifications
                </a>
                <ul class="dropdown-menu">
                  <% if @notifications %>
                    <%  @notifications.each do |notification| %>
                      <li><a class="dropdown-item" href="#"><%= notification.to_notification.message %></a></li>
                    <%end %>
                  <% end %>
                </ul>
              </div>
                <%#= image_tag current_user.photo, class: "avatar dropdown-toggle", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", crop: :fill, gravity: :face, data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% else %>
                <%= image_tag "https://www.innovaxn.eu/wp-content/uploads/blank-profile-picture-973460_1280.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
              <% if current_user.account_type == "MatchSeeker" %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Matches", "/dashboard", class: "dropdown-item" %>
                <%= link_to "Notifications", "/notifications", class: "dropdown-item" %>
                <%= link_to "My Profile", "/profile", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
                <% else%>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Matches", "/dashboard", class: "dropdown-item" %>
                <%= link_to "Start Matching", new_match_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
                <% end %>
              </div>
              </div>
            </li>
        </div>
      </div>
    </div>
  </div>
</nav>
