<div class="rightside_ds">
  <% if current_user.gender == "female" %>
    <% true_matches = [] %>
    <% current_user.female_matches.where(block: false).each do |match| %>
    <% if match.status == "match" %>
      <% true_matches.push(match.male) %>
    <%end%>
    <%end%>
    <% true_matches.uniq.each do |m| %>
      <div class="rlds d-none" data-id="<%= m.id %>" data-chat-target="match">
        <div class="scene scene--card">
          <div class="card">
            <div class="card__face card__face--front">
              <div type="button" class="btn-close close_card_button" aria-label="Close" data-action="click->chat#hideCard"></div>
              <div class="rightds_imainf">
                <div class="img-seeker">
                  <%= cl_image_tag m.photo.key, crop: :thumb, gravity: :face, class: "img-right"  %>
                </div>
              </div>
              <div class="description container">
                <div id="Name_age"><h1><%= m.first_name %> <%= m.last_name %></h1><h3>, <%= m.age %> <img src="https://res.cloudinary.com/dlr6yrpai/image/upload/v1662454789/MatchMe/cloudage_cc07c3.png" alt="cloud_background" class="cloud_background"></h3></div>
                <p id="geo_right"><i class="fa-solid fa-location-dot geo_right"></i><%= m.geo %></p>
                <p class="gilroy_strong">About me</p>
                <p class="gilroy_light"><%= m.description%></p>
                <p class="gilroy_strong">Interest</p>
                <p class="interests"><%= m.interest%></p>
              </div>
            </div>
            <div class="card__face card__face--back">
              <h3 style = "font-family: Amerigo_BT">Chat with <%= m.first_name %></h3>
              <%= render 'chatrooms/chatroom', chatroom: Chatroom.where(male: m, female: current_user).first, message: Message.new %>
              <%=button_to "Block Match", block_female_match_path(m), method: :patch%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>














<style>

.scene {
   display: inline-block;
  width: 45vw;
  height: 80vh;
  margin: 40px 0;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-45vw) rotateY(-180deg);
  border: none;
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card__face--front {
  background: white;
}

.card__face--back {
  transform: rotateY(180deg);
  background: white;
}



</style>




<script>

  var cards = document.querySelectorAll('.card');

  [...cards].forEach((card)=>{
    card.addEventListener( 'click', function() {
      card.classList.toggle('is-flipped');
    });
  });

</script>
