<!DOCTYPE html>
<html>
  <head>
    <title>Matchme</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  </head>

  <body>
    <% unless current_page?(controller: '/pages', action: 'home') || current_page?(controller: '/pages', action: 'select') || current_page?(controller: 'devise/sessions', action: 'new')%>
    <%= render 'layouts/navbar' %>
    <% end %>
    <%= yield %>
  </body>
</html>
